megatron/training/training_legacy.py
__pycache__
*.so
build
.coverage_*
*.egg-info
*~
slurm*
logs
.vscode
local/
.gitmodules
wandb/
onelogger.log
onelogger.err
data/
checkpoints/
gpt-2-small-baseline-checkpoints/
gpt2-small-logs/
NOTE.md
Plans.md
checkpoints_at_10000_32(small)
momentum_buffer_at_120000.pt
exp
checkpoints_at_20000
benchmark*
launch*
launch_debug.sh
checkpoints_*
*.out
new_result/
legacy_benchmark_script
new_miu_exp
new_result
requirements
debug*
get_all_result.sh
get_benchmark_result.py
._dbindex_/
!replace_exps/
!replace_exps/*.sh
