
__pycache__
*.so
build
.coverage_*
*.egg-info
*~
slurm*
logs
.vscode
local/
.gitmodules
wandb/
onelogger.log
onelogger.err
data/
checkpoints/
gpt-2-small-baseline-checkpoints/
gpt2-small-logs/
NOTE.md
Plans.md
checkpoints_at_10000_32(small)
momentum_buffer_at_120000.pt
exp
checkpoints_at_20000
benchmark*
launch*
launch_debug.sh

